
#toproutes {
	font-size: 14px;
}

#toproutes > thead > tr > th, 
#toproutes > tbody > tr > th,
#toproutes > thead > tr > td,
#toproutes > tbody > tr > td {
	padding-bottom: 0px;
	padding-top: 1px;

}

#homepage-container {
	padding-top: 30px;

}

#toproutes > tbody > tr > td > .score {
	font-size: 14px;
}

#homepage-map {
	height: 300px;

}
