aiohttp==3.6.2
asgiref==3.2.10
async-timeout==3.0.1
attrs==19.3.0
certifi==2022.12.7
cffi==1.14.1
chardet==3.0.4
cryptography==2.9.2
dj-database-url==0.5.0
Django==3.0.8
django-crispy-forms==1.9.2
django-geojson==3.0.0
git+git://github.com/faaizajaz/django-leaflet.git
django-mathfilters==1.0.0
django-model-utils==4.0.0
django-quill-editor==0.1.12
django-timezone-utils==0.13
djangorestframework==3.11.0
docutils==0.16
entrypoints==0.3
geoip2==4.0.2
gunicorn==20.0.4
idna==2.10
jeepney==0.4.3
Jinja2==2.11.2
jsonfield==3.1.0
keyring==18.0.1
MarkupSafe==1.1.1
maxminddb==2.0.2
multidict==4.7.6
numpy==1.17.5
olefile==0.46
Pillow==7.0.0
psycopg2==2.8.5
pycparser==2.20
pytz==2019.3
PyYAML==5.3.1
requests==2.24.0
SecretStorage==3.1.2
six==1.14.0
sqlparse==0.3.1
swapper==1.1.2.post1
urllib3==1.25.10
whitenoise==5.2.0
yarl==1.5.1