{% extends 'base.html' %}
{% load view_filters %}



{% block page_title %}
	{{ route.rname }}
{% endblock %}


<!--href="{% url 'rate-route' route_id=route.id %}"-->

{% block content %}


	<h1>This is the Routes View page</h1>

	{% if user.is_authenticated %}
		<a href="{% url 'logout' %}">Log out</a>
		<br>
		<a href="{% url 'profile' username=user.username %}">My Profile</a>
	{% else %}	
		<a href="{% url 'login' %}">Log in</a>
	{% endif %}


	<h1>{{ route.rname }}</h1>

	<p>{{route.get_api_rate_url}}</p>

	<p>{{ route.numpitch }} {{ route.rtype }}</p>

	<a class='rate-btn' data-href='{{ route.get_api_rate_url }}' href="{% url 'rate-route' route_id=route.id %}">Give 5 stars!</a>
	<br><br>
	<p>{{route.rating_set.all.count}}</p>

	<!-- If the route only has one pitch, display the grade-->
	{% if route.numpitch == 'Singlepitch' %}
		
		<p>This single pitch is {{ route|measurement_display:request }}</p>
		{% for pitch in route.pitch_set.all %}
			<!--CHECK GRADE PREFERENCE AND DISPLAY GRADE ACCORDINGLY -->
			{{ pitch.pgrade|grade_display:request }}
			{{ pitch|measurement_display:request }}
			{{ pitch|measurement_unit_display:request }}

		{% endfor %}
	{% endif %}


	<!-- Otherwise, if the route has more than one pitch, list pitches-->	
	{% if route.numpitch == 'Multipitch' %}

		<p>This multipitch is {{ route|measurement_display:request }}</p>
		{% for pitch in route.pitch_set.all %}
			<p>
			{{ pitch.pgrade|grade_display:request }}
			{{ pitch|measurement_display:request }}
			{{ pitch|measurement_unit_display:request }}
			{{ pitch.pdescription }} 
			</p>
		{% endfor %}
	{% endif %}

	<!-- route description displayed here -->
	<p><b>Description:</b> {{ route.rdescription }}</p>
	
	<!-- display all ascents for the route -->
	{% for ascent in route.ascent_set.all %}
		<p>{{ ascent.date }}  <a href="{% url 'profile' username=ascent.climber.username %}">{{ ascent.climber.username }}</a></p>
	{% endfor %}
	
	<!-- add ascent button -->

	<br>
	<h3><a href="{% url 'add-ascent-to-route' route_id=route.id %}">ADD YOUR ASCENT</a></h3>


	<!--If route is multipitch, show add pitch button -->
	{% if route.numpitch == 'Multipitch' %}
		<h3><a href="{% url 'add-pitch-multi' route_id=route.id %}">Add a pitch</a></h3>
	{% endif %}

<script>
	$(document).ready(function(){
		console.log("helooo")
		$(".rate-btn").click(function(e){
			console.log("this function started");
			e.preventDefault();

			var this_ = $(this);
			var rateUrl = this_.attr("data-href");
			$.ajax({
				type: 'GET',
				url: rateUrl,
				data: {},
				success: function(data){
					console.log(data);
					console.log("success");
				}, error: function(error){
					console.log(error);
					console.log("error");
				}
			});
		});
	});

</script>
{% endblock %}
