<!--#####################################################-->
<!--###################### IMPORTS ######################-->
<!--#####################################################-->

{% extends 'base.html' %}
{% load view_filters %}
{% load mathfilters %}
{% load static %}
{% load crispy_forms_tags %}
{% load tz %}




<!--#####################################################-->
<!--################# CUSTOM JAVASCRIPT #################-->
<!--#####################################################-->

{% block custom_js %}
	{{ comment_form.media }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
{% endblock %}


<!--#####################################################-->
<!--#################### TITLE BLOCK ####################-->
<!--#####################################################-->

{% block page_title %}
	{{ route.rname }}
{% endblock %}



<!--#####################################################-->
<!--#################### CONTENT BLOCK ##################-->
<!--#####################################################-->


{% block content %}

	<h1>This is the Routes View page</h1>

	{% if user.is_authenticated %}
		<a href="{% url 'logout' %}">Log out</a>
		<br>
		<a href="{% url 'profile' username=user.username %}">My Profile</a>
	{% else %}	
		<a href="{% url 'login' %}">Log in</a>
	{% endif %}


	<h1>{{ route.rname }}</h1>

	<p>{{ route.numpitch }} {{ route.rtype }}</p>

	<p id='route-rating'>This route is rated: {{route|inline_rating}} with {{route.rating_set.all.count}} votes</p>

	<!--custom CSS for star ratings -->
	<link rel="stylesheet" type="text/css" href="{% static 'ratings/star_rating.css' %}" rel="stylesheet">

	{{ route|inline_user_rating:user }}	

	<br><br>

	<!-- If the route only has one pitch, display the grade-->
	{% if route.numpitch == 'Singlepitch' %}
		
		<p>This single pitch is {{ route|measurement_display:request }}</p>
		{% for pitch in route.pitch_set.all %}
			<!--CHECK GRADE PREFERENCE AND DISPLAY GRADE ACCORDINGLY -->
			{{ pitch|grade_display:request }}
			{{ pitch|measurement_display:request }}
			{{ pitch|measurement_unit_display:request }}

		{% endfor %}
	{% endif %}


	<!-- Otherwise, if the route has more than one pitch, list pitches-->	
	{% if route.numpitch == 'Multipitch' %}

		<p>This multipitch is {{ route|measurement_display:request }}</p>
		{% for pitch in route.pitch_set.all %}
			<p>
				{{ pitch|grade_display:request }}
				{{ pitch|measurement_display:request }}
				{{ pitch|measurement_unit_display:request }}
				{{ pitch.pdescription }} 
			</p>
		{% endfor %}
	{% endif %}

	<br><br>
	<!-- route description displayed here -->
	<p><b>Description:</b> {{ route.rdescription.html|safe }}</p>


	<!-- display all ascents for the route -->
	{% for ascent in route.ascent_set.all %}
		<p>{{ ascent.date }} <a href="{% url 'profile' username=ascent.climber.username %}">{{ ascent.climber.username }}</a></p>
	{% endfor %}
	
	<!-- add ascent button -->
	<br>
	<h3><a href="{% url 'add-ascent-to-route' route_id=route.id %}">ADD YOUR ASCENT</a></h3>


	<!--If route is multipitch, show add pitch button -->
	{% if route.numpitch == 'Multipitch' %}
		<h3><a href="{% url 'add-pitch-multi' route_id=route.id %}">Add a pitch</a></h3>
	{% endif %}


	<p>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#comment-collapse" aria-expanded="false" aria-controls="comment-collapse">Show comments</button>

	</p>

	<div class="collapse" id="comment-collapse">
		<!---SHOW COMMENTS -->
		<div class="comment-container">
		{% for comment in route.comments.all %}
			<div class="comment-card card bg-light">
				<div class="card-body" style="padding-top: 0px; padding-bottom: 0px">
					<p>
						<h6 class="card-title">
							{{comment.html_user|safe}} @ {{comment.created}} {{TIME_ZONE}}
						</h6>

						<p class="card-text">
							{{ comment.body}}
						</p>
					</p>
				</div>
			</div>
			<br>
		{% endfor %}
		</div>
		
		<!-- SHOW COMMENT BOX -->
		<div class="card bg-light">
			<div class="card-body">
				<form class="route-comment-form" method="post" data-api="{% url 'route-comment-api' route_id=route.id %}">
					{% csrf_token %}
					{{comment_form|crispy}}
					<input type="submit"></form></input>
				</form>
			</div>
		</div>
	</div>

<!--custom js for star rating updates -->
<script src="{% static 'ratings/rating_update.js' %}" type="text/javascript"></script>
<script src="{% static 'comments/comments.js' %}" type="text/javascript"></script>

{% endblock %}
