{% extends 'base.html' %}
{% block page_title %}
	{{ route.rname }}
{% endblock %}


{% block content %}


	<h1>This is the Routes View page</h1>

	{% if user.is_authenticated %}
		<a href="{% url 'logout' %}">Log out</a>
		<br>
		<a href="{% url 'profile' username=user.username %}">My Profile</a>
	{% else %}	
		<a href="{% url 'login' %}">Log in</a>
	{% endif %}


	<h1>{{ route.rname }}</h1>

	<p>{{ route.numpitch }} {{ route.rtype }}</p>


	<!-- If the route only has one pitch, display the grade-->
	{% if route.numpitch == 'Singlepitch' %}
		<p>This single pitch is {{ route.rlength }}</p>
		{% for pitch in route.pitch_set.all %}

			<!--CHECK GRADE PREFERENCE AND DISPLAU GRADE ACCORDINGLY -->
			{% if request.session.grade_pref == "French" %}

				<p>{{ pitch.pgrade.ggrade }} {{ pitch.plength }}</p>

			{% elif request.session.grade_pref == "YDS" %}

				<p>{{ pitch.pgrade.ydsgrade }} {{ pitch.plength }}</p>

			{% elif request.session.grade_pref == "Aus" %}

				<p>{{ pitch.pgrade.ausgrade }} {{ pitch.plength }}</p>

			{% elif request.session.grade_pref == "UIAA" %}

				<p>{{ pitch.pgrade.uiaagrade }} {{ pitch.plength }}</p>

			{% elif request.session.grade_pref == "SA" %}

				<p>{{ pitch.pgrade.sagrade }} {{ pitch.plength }}</p>

			{% elif request.session.grade_pref == "UK" %}

				<p>{{ pitch.pgrade.ukgrade }} {{ pitch.plength }}</p>
			{% else %}

				<p>{{ pitch.pgrade.ggrade }} {{ pitch.plength }}</p>

			{% endif %}

		{% endfor %}

	{% endif %}


	<!-- Otherwise, if the route has more than one pitch, list pitches-->
	
	{% if route.numpitch == 'Multipitch' %}
		<p>{{ route.rlength }}</p>
		{% for pitch in route.pitch_set.all %}
			<p>{{ pitch.pgrade.ggrade }} {{ pitch.plength }}</p>
		{% endfor %}

	{% endif %}





	<p>{{ route.rdescription }}</p>


	
	{% for ascent in route.ascent_set.all %}
		<p>{{ ascent.date }}  <a href="{% url 'profile' username=ascent.climber.username %}">{{ ascent.climber.username }}</a></p>

	{% endfor %}
	<br>
	<h3><a href="{% url 'add-ascent-to-route' route_id=route.id %}">ADD YOUR ASCENT</a></h3>

	<!--If route is multipitch, show add pitch button -->
	{% if route.numpitch == 'Multipitch' %}
		<h3><a href="{% url 'add-pitch-multi' route_id=route.id %}">Add a pitch</a></h3>
	{% endif %}

	
{% endblock %}
