{% extends 'base.html' %}
{% load static %}
{% load view_filters %}
{% load leaflet_tags %}
{% load geojson_tags %}



{% block custom_css %}  
  {% leaflet_css %}
{% endblock %}

{% block custom_js %}
  {% leaflet_js %}
{% endblock %}

{% block page_title %}
	Crags.pk
{% endblock %}



{% block home_content %}

  <div class="row map-row">
    <div class = "col-lg-9">
   
      <script>
        var CragMarker = L.Marker.extend({
          options: {
            api_link: "butts"
          },
          initialise: function(options) {
            L.setOptions(this, options)
          },
          getData: function() {
            return this.options.api_link
          }
        });

        function map_init_basic (map, options) {
          map.setView([33.762521, 73.065268], 11.5);

          {% for crag in crag_list %}
            var crag_id = '{{crag.crag_id}}';
            var crag_name = '{{crag.name}}';
            var route_count = '{{crag.route_count}}'
            var link = '<a href="crags/' + crag_id + '">' + crag_name + '</a>' + '<br>' + route_count + " routes." ;
            var api_link_ = '/crags/api/' + crag_id + "/"
            
            //var link = '{{crag.url}}'
            
            var instance = new CragMarker(['{{crag.lat}}', '{{crag.lon}}'], {api_link: api_link_}).bindPopup(link).addTo(map).on('click', onClick);

            console.log(instance.options.api_link);
            //L.marker(['{{crag.lat}}', '{{crag.lon}}']).on('click', onClick).addTo(map);
          {% endfor %}

          function onClick(e) {
            $.ajax({
              type: 'GET',
              url: this.getData(),
              data: {},
              success: function(data){


                routes = [];
                console.log(data.length)
                for (route = 0; route < data.length; route++) {

                  routes.push([data[route].fields.rname, data[route].fields.grade]);
                }
                
                console.log(routes);
                $(".dynamic-crag").html('<h1>' + routes + '</h1>');
              }
            })

          }

        }




      </script>

      <!--{% leaflet_map user.first_name callback="window.map_init_basic" %} -->
      {% leaflet_map "homepage-map" callback="window.map_init_basic" %}
      
    </div>
    <div class="col-lg-3">
      <table id="toproutes"class="table table-sm h-50">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Top routes</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for route in top_routes %}
          <tr>
            <td><a href="{% url 'route-view' route_id=route.id %}">{{route.rname}}</a></td>

            <td>{{route|grade_display:request}}</td>
            <td>{{route|inline_rating}}</td>
          </tr>
          {% endfor %}          
        </tbody>
      </table>      
    </div>
  </div>

  <div class="dynamic-crag" id="buttsy"></div>


{% endblock %}






{% block content %}

{% if messages %}

	{% for message in messages %}

		{{message}}

	{% endfor %}
	
{% endif %}




{% if user.is_authenticated %}
	<a href="{% url 'logout' %}">Log out</a>
	<br>
	<a href="{% url 'profile' username=user.username %}">My Profile</a>
{% else %}	
	<a href="{% url 'login' %}">Log in</a>
{% endif %}
<br>
<a href="{% url 'crags-home' %}">See crags</a>
<br>
<a href="{% url 'register' %}">Sign up now</a>





{% endblock %}