{% extends 'base.html' %}
{% load static %}
{% load view_filters %}
{% load leaflet_tags %}



{% block custom_css %}  
  {% leaflet_css %}
{% endblock %}

{% block custom_js %}
  {% leaflet_js %}
{% endblock %}

{% block page_title %}
	Crags.pk
{% endblock %}



{% block home_content %}

  <div class="row">
    <div class = "col-lg-9">
    
      <script>
        function map_init_basic (map, options) {
          map.setView([33.684, 73.047], 13);
          marker = L.marker([33.684, 73.047]).on('click', onClick);
          function onClick(e) {
            alert("{{user.username}}")
          }
          marker.addTo(map)
        }
      </script>

      {% leaflet_map user.first_name callback="window.map_init_basic" %}
      
    </div>
    <div class = "col-lg-3">
      <table id="toproutes"class="table table-sm h-50">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Top routes</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for route in top_routes %}
          <tr>
            <td><a href="{% url 'route-view' route_id=route.id %}">{{route.rname}}</a></td>
            <td>{{route|inline_rating}}</td>
            <td>{{route.rtype}}</td>
          </tr>
          {% endfor %}          
        </tbody>
      </table>      
    </div>
  </div>

{% endblock %}






{% block content %}

{% if messages %}

	{% for message in messages %}

		{{message}}

	{% endfor %}
	
{% endif %}




{% if user.is_authenticated %}
	<a href="{% url 'logout' %}">Log out</a>
	<br>
	<a href="{% url 'profile' username=user.username %}">My Profile</a>
{% else %}	
	<a href="{% url 'login' %}">Log in</a>
{% endif %}
<br>
<a href="{% url 'crags-home' %}">See crags</a>
<br>
<a href="{% url 'register' %}">Sign up now</a>





{% endblock %}