{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}


{% block custom_css %}
	{% leaflet_css plugins="forms" %}

	<style>

		.ql-editor{
    		min-height:200px;
		}

	</style>
{% endblock %}


{% block custom_js %}
	{% leaflet_js plugins="forms" %}
	{{ form.media }}
{% endblock %}




{% block page_title %}
	Add a crag
{% endblock %}

{% block content %}
	<form method = "POST">
		{% csrf_token %}
		{{ form|crispy }}
		<div>
			<button type="submit">
				Add crag
			</button>
		</div>
	</form>
{% endblock %}