{% extends 'base,html' %}

{% load crispy_forms_tags %}

{% block custom_js %}
{{ form.media }}
{% endblock %}

{% block custom_css %}
<style>

.ql-editor{
    min-height:200px;
}

</style>
{% endblock %}

{% block page_title %}
	Add a route
{% endblock %}

{% block main_content %}
<div class="col-lg-12 colb">
	<form method = "POST">
		{% csrf_token %}
		{{ form|crispy }}

		{% csrf_token %}
		{{ form2|crispy }}


		<div>
			<button type="submit">
				Add Route
			</button>
		</div>
	</form>
</div>
{% endblock %}