{% extends 'base-no-right-panel.html' %}
{% load static %}
{% load view_filters %}
{% load crispy_forms_tags %}
{% load tz %}

{% block custom_css %}
  <!--custom CSS for star ratings -->
	<link rel="stylesheet" type="text/css" href="{% static 'ratings/rating_display.css' %}" rel="stylesheet">
{% endblock %}

{% block custom_js %}
	{{ comment_form.media }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
{% endblock %}

{% block page_title %}
	{{ crag.cname }} 
{% endblock %}

{% block body_title %}
	{{ crag.cname }}
{% endblock %}

{% block main_content %}
	<h2>{{ crag.city.name }}</h2>
	<div class="row">
		<!-- TAB NAVIGATION BAR -->
		<div class="col-lg-6 text-center">
			<span class="float-lg-left">
				<ul class="nav nav-tabs">
					<li class="nav-item">
	    			<a class="nav-link active" data-toggle="tab" href="#general">General</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" data-toggle="tab" href="#routes">Routes</a>
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" data-toggle="tab" href="#map">Map</a>
	  			</li>
				</ul>
			</span>
		</div>

		<!-- Crag maintainer info -->
		<div class="col-lg-6 text-center">
			<span class="float-lg-right">
				Page maintained by: <a href="{% url 'profile' username=crag.cauthor %}">{{ crag.cauthor.first_name }} {{crag.cauthor.last_name}}</a>
			</span>		
		</div>
	</div>

	<!-- Tab content section -->
	<div class="col-lg-12">
		
		<!-- Tab panes -->
		<div class="tab-content">
			
			<!-- GENERAL TAB -->
	  	<div class="tab-pane container active" id="general">
	  		<p><b>Toprope access:</b> {{crag.toprope}}</p>
				<p>{{ crag.cdescription.html|safe}}</p>	
	  	</div>
	  	
	  	<!-- MAP TAB -->
	  	<div class="tab-pane container fade" id="map">
	  	Map here
	  	</div>
	  	
	  	<!-- ROUTES TAB -->
	  	<div class="tab-pane container fade" id="routes">
	  		<!-- list all the routes -->
				{% for route in object.route_set.all %}
				<p>
					<a href="{% url 'route-view' route_id=route.id %}">{{ route.rname }}</a>
					{% for pitch in route.pitch_set.all %}
						{{ pitch|grade_display:request }}
					{% endfor %}
					{{route|inline_rating}}
				</p>	
			{% endfor %}	  	
	  </div>
	</div>

	<br><br><br>

	{% if user.is_authenticated and perms.routes.can_add and perms.pitches.can_add %}
		<h4><a href="{% url 'route-choice' crag_id=crag.id %}">Add new route</a></h4>
	{% endif %}

	<!-- Comment toggle button -->
	<p>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#comment-collapse" aria-expanded="false" aria-controls="comment-collapse">Show comments</button>
	</p>

	<!-- COLLAPSIBLE COMMENTS BOX -->
	<div class="collapse" id="comment-collapse">
		<!---SHOW COMMENTS -->
		<div class="comment-container">
		{% for comment in crag.comments.all %}
			<div class="comment-card card bg-light">
				<div class="card-body" style="padding-top: 0px; padding-bottom: 0px">
					<p>
						<h6 class="card-title">
							{{comment.html_user|safe}} @ {{comment.created}} {{TIME_ZONE}}
						</h6>

						<p class="card-text">
							{{ comment.body}}
						</p>
					</p>
				</div>
			</div>
			<br>
		{% endfor %}
		</div>
		
		<!-- SHOW COMMENT BOX -->
		<div class="card bg-light">
			<div class="card-body">
				<form class="comment-form" method="post" data-api="{% url 'crag-comment-api' crag_id=crag.id %}">
					{% csrf_token %}
					{{comment_form|crispy}}
					<input type="submit"></form></input>
				</form>
			</div>
		</div>
	</div>

	<!--custom js for star rating updates -->
	<script src="{% static 'comments/comments.js' %}" type="text/javascript"></script>

</div>


{% endblock %}
