{% extends 'base.html' %}

{% block page_title %} {{object.username}} {% endblock %}

{% block body_title %}
	{{ user.first_name }} {{ user.last_name }}
{% endblock %}


<!-- Remember that object is the profile being requested, user & request.user are the user viewing the profile-->
{% block main_content %}
	<h1>This is the profile page for {{object.username}}</h1>

	{% if user.is_authenticated and object.username == request.user.username%}
		<h5><a href="{% url 'edit-profile' username=user.username %}">Edit profile</a></h5>
		<h5><a href="{% url 'edit-prefs' username=user.username %}">Edit preferences</a></h5>
	{% endif %}

	<img src="{{ object.profile.image.url }}" width="200">
	<p>Email address: {{object.email}}</p>
	<p>First Name: {{object.first_name}}</p>
	<p>Last Name: {{object.last_name}}</p>
	<h3>Routes climbed</h3>
	{% for ascent in object.ascent_set.all %}
		<p><a href="{% url 'route-view' route_id=ascent.route.id %}">{{ ascent.route }}--------</a>
		<a href="{% url 'crag-view' crag_id=ascent.route.rcrag.id %}">{{ ascent.route.rcrag}}--------</a>
		{{ascent.date}}</p>
	{% endfor %}


{% endblock %}